@model Budget.Models.HouseHold
@using System.Collections


<div class="row">
    <div class="col-md-12">
        <label>Members of this Household.</label>
    </div>
</div>
@foreach(var member in Model.Users) {
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            @member.DisplayName
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            @member.Email
        </div>
    </div>
}