@using System.Collections
@using Budget.Models
@model Budget.Models.HouseHold

@{
    ViewBag.Title = "Join Household";

}

<h2>Join Household?</h2>
<div>
    Do you wish to join the @Html.DisplayFor(m => m.Name) household?  
</div>
