<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=coderfoundry.cloudapp.net,55555;Database=bpayne-budget;User ID=bpayne;Password=Bpayne1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>