@{
    ViewBag.Title = "Invitation";
}

<section class="section colored-wrapper">
    <div class="container">
        <div class="wrapper-2">


            <h2>Invitation</h2>

        </div>
    </div>
</section>