@{
    ViewBag.Title = "Home Page";
}

@if(User.Identity.IsAuthenticated == true) {
    <section class="section colored-wrapper">
        <div class="container home-landing">
            <div class="wrapper-2">
                <div class="row">
                    <div class="budget-landing">
                        <div class="budget-landing-bg-wrapper col-md-offset-3 col-md-6">
                            <h2><span>Welcome to The Home Budget</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else {
    <section class="section colored-wrapper">
        <div class="container home-landing">
            <div class="wrapper-2">
                <div class="row">
                    <div class="budget-landing">
                        <div class="budget-landing-bg-wrapper col-md-offset-3 col-md-6">
                            <h2><span>Welcome to The Home Budget</span></h2>
                            <h4>You are not logged in.  Please do so now.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}