@{
    ViewBag.Title = "Home Page";
}

@if(User.Identity.IsAuthenticated == true) {
    <section class="section colored-wrapper">
        <div class="container home-landing">
            <div class="wrapper-2">
                <div class="row">
                    <div class="budget-landing">
                        <h1><span>Welcome to The Home Budget</span></h1>
                        @*<div class="landing-page img-responsive col-md-12"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else {
    <section class="section colored-wrapper">
        <div class="container home-landing">
            <div class="wrapper-2">
                <div class="row">
                    <div class="budget-landing">
                        <h1><span>Welcome to The Home Budget</span></h1>
                        <div>You are not logged in.  Please do so now.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}